.select-game {
    display: flex;
    flex-direction: column;
    gap: var(--size-small);
    font-family: var(--font-secondary);
    position: relative;
    background-color: var(--color-black-dimmed-strong);

    .background {
        position: fixed;
        inset: 0;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 0;
            transition: var(--transition-normal);
        }

        .image.filter {
            filter: grayscale(100%);
        }

        .overlay {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-black-dimmed-strong);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--size-medium);
        padding: var(--size-medium);
        flex: 1;

        .header {
            display: flex;
            flex-direction: column;
            gap: var(--size-very-small);
            z-index: 10;

            .error {
                background-color: var(--color-error-dimmed);
                padding: var(--size-small);
                text-align: center;
                font-weight: var(--font-thick);
            }

            h1 {
                text-align: center;
                padding: var(--size-small);
                font-weight: var(--font-normal-thickness);
            }
        }

        .games-preview {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            gap: var(--size-small);
            perspective: 1000px;
            transform-style: preserve-3d;

            .game {
                width: 15%;
                height: 75%;
                position: relative;
                overflow: hidden;
                transition: var(--transition-fast);

                .background-image {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit: cover;
                    object-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: var(--color-black-dimmed-soft);
                    color: var(--color-font);
                    transition: var(--transition-fast);
                    opacity: 0;

                    .title,
                    .difficulty {
                        background-color: var(--color-black-dimmed-strong);
                        padding: var(--size-small);
                        text-align: center;
                    }
                }
            }

            .game:hover,
            .game:focus,
            .game:focus-visible {
                .overlay {
                    opacity: 1;
                }
            }
        }
    }
}
