.notification {
    z-index: 999;
    display: grid;
    place-items: center;
    padding: var(--size-very-small) calc(var(--size-very-small) * 3);
    border: 2px solid var(--color-font);
    width: fit-content;
    color: var(--color-font);
    position: fixed;
    top: 10px;

    .message {
        padding: var(--size-very-small) calc(var(--size-very-small) * 2);
        font-weight: var(--font-thick);
    }

    .message.found {
        background-color: var(--color-success);
    }

    .message.not-found {
        background-color: var(--color-error);
    }
}

.notification.success {
    background-color: var(--color-success);
}

.notification.fail {
    background-color: var(--color-error);
}
