.notification,
.checking {
    z-index: 999;
    width: fit-content;
    color: var(--color-font);
    position: fixed;
    left: 50%;
    background-color: black;

    .message {
        padding: var(--size-very-small) calc(var(--size-very-small) * 2);
        font-weight: var(--font-thick);
        padding: var(--size-very-small) calc(var(--size-very-small) * 2);
        border: 2px solid var(--color-font);
    }

    .message.found {
        background-color: var(--color-success);
    }

    .message.not-found {
        background-color: var(--color-error);
    }
}

.notification.success {
    background-color: var(--color-success);
}

.notification.fail {
    background-color: var(--color-error);
}

.checking {
    display: flex;
    flex-direction: column;
    gap: var(--size-very-small);
    align-items: center;
    padding: var(--size-very-small) calc(var(--font-size-very-small) * 2);
    border: 2px solid var(--color-font);
    font-weight: var(--font-thick);
}
