.about {
    font-family: var(--font-secondary);
    background-color: --var(--color-black-dimmed-medium);
    display: flex;
    position: relative;
    overflow-x: hidden;

    .content {
        background-color: var(--color-black-dimmed-very-strong);
        padding: var(--size-big);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size-very-big);
        z-index: 1;

        h1 {
            text-align: start;
            align-self: stretch;
            font-weight: var(--font-normal-thickness);
            font-size: var(--font-size-very-big);
            animation: appearFromLeft 450ms ease-in-out forwards;
        }

        .section {
            display: grid;
            grid-template-areas:
                "icon title"
                "details details"
            ;
            grid-template-columns: 50px 1fr;
            grid-template-rows: 50px 1fr;
            align-self: stretch;
            gap: var(--size-medium);
            opacity: 0;


            .icon {
                grid-area: icon;
            }

            h2 {
                grid-area: title;
                align-self: center;
                font-size: var(--font-size-very-big);
                font-weight: 200;
            }

            .details {
                grid-area: details;
                text-align: start;
                border: 2pxs solid blue;
            }

            .github-links {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: var(--size-big);
                grid-column: 1/-1;

                .link {
                    display: flex;
                    flex-direction: column;
                    gap: var(--size-medium);
                    align-items: center;
                    text-decoration: none;
                    color: var(--color-font);
                    border: 2px solid transparent;
                    padding: var(--size-medium);
                    transition: var(--transition-slow);
                    border-radius: var(--rounding-medium);

                    svg {
                        width: 100px;
                        fill: red;
                    }
                }

                .link:hover {
                    border: 2px solid var(--color-font);
                }
            }

        }

        .section:nth-child(5) {
            order: 7;
        }

        .section.appear-section {
            animation: appearSection 350ms ease-in forwards;
            transform: translateY(100%);
            opacity: 0;
        }

        /* Tools section */
        .tools-section {
            display: grid;
            grid-template-areas:
                "icon title"
                "tools tools"
            ;
            grid-template-columns: 50px 1fr;
            align-self: stretch;
            align-items: center;
            gap: var(--size-medium);

            .icon {
                grid-area: icon;
            }

            .title {
                grid-area: title;
                align-self: center;
                font-size: var(--font-size-very-big);
                font-weight: 200;
            }

            .container {
                grid-area: tools;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-auto-rows: 200px;
                gap: var(--size-very-small);
                flex-wrap: wrap;

                .tool-card {
                    border-radius: var(--rounding-medium);
                    position: relative;
                    overflow: hidden;
                    border: 2px solid transparent;
                    transition: var(--transition-slow);
                    cursor: pointer;
                    animation: appearCard1 500ms ease-in-out forwards;
                    opacity: 0;
                    text-decoration: none;
                    color: var(--color-font);

                    .icon-container {
                        display: grid;
                        place-items: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 10;
                        transition: all 750ms ease-in-out;

                        svg {
                            width: 15%;
                        }
                    }

                    .left-pane,
                    .right-pane {
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        top: 0;
                        z-index: 5;
                        background-color: black;
                        transition: transform 750ms ease-in-out;
                    }

                    .left-pane {
                        left: 0;
                    }

                    .right-pane {
                        right: 0;
                    }

                    .card-content {
                        background-color: var(--color-black-dimmed-strong);
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        font-family: var(--font-secondary);
                        padding: var(--size-small);

                        >* {
                            color: var(--color-font);
                            text-align: center;
                        }

                        .tool-name {
                            font-size: var(--font-size-big);
                            font-weight: var(--font-normal-thickness);
                        }

                        .tool-description {
                            flex: 1;
                            display: grid;
                            place-items: center;
                        }

                        .end {
                            font-size: var(--font-size-small);
                            font-weight: var(--font-thick);
                        }

                        .end::first-letter {
                            text-transform: capitalize;
                        }
                    }
                }

                .tool-card:hover,
                .tool-card:focus,
                .tool-card:focus-visible {
                    border: 2px solid var(--color-font);
                    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.5);

                    .icon-container {
                        transform: scale(7) rotate(360deg);
                        opacity: 0;
                    }

                    .left-pane {
                        transform: translateX(-100%);
                    }

                    .right-pane {
                        transform: translateX(100%);
                    }
                }
            }
        }
    }
}

@media (max-width: 599px) {
    .about {
        .content {
            padding: var(--size-medium) var(--size-very-small);

            .section,
            .tools-section {
                grid-template-columns: 35px 1fr;
                grid-template-rows: 35px 1fr;
            }

            .tools-section {
                align-items: center;

                .title {
                    font-size: 1.5rem;
                }
            }

            .section {
                h2 {
                    font-size: 1.5rem;
                }

                .github-links {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .about {
        .content {
            .tools-section {
                .title {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@keyframes appearFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appearCard1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    60% {
        transform: scale(1.25);
        opacity: 1;
    }

    80% {
        transform: scale(0.95);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes appearSection {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
