.quit-game {
    width: 50px;
    height: 50px;
    border-radius: var(--rounding-total);
    display: grid;
    place-items: center;
    background-color: var(--color-black-dimmed-strong);
    color: var(--color-font);
    border: 2px solid var(--color-font);
    transition: var(--transition-fast);
    cursor: pointer;
    position: absolute;
    top: var(--size-very-small);
    right: var(--size-very-small);
    z-index: 50;
}

.close-game:hover,
.close-game:focus,
.close-game:focus-visible {
    background-color: var(--color-font);
    color: black;
    transform: scale(1.1);
}

.confirm-quit-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .content {
        display: grid;
        grid-template-areas:
            "message message"
            "confirm cancel"
        ;
        grid-template-columns: 1fr 1fr;
        gap: var(--size-small);
        padding: var(--size-small);
        border: 1px solid var(--color-font);
        background-color: black;
        color: var(--color-font);
    }


    .message {
        grid-area: message;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: var(--size-minimum);

        span:first-of-type {
            font-size: var(--font-size-big);
        }

        .warning {
            font-size: var(--font-size-medium);
        }
    }

    .confirm,
    .cancel {
        border: 1px solid var(--color-font);
        background-color: transparent;
        color: var(--color-font);
        padding: var(--size-very-small);
        font-size: var(--font-size-normal);
        transition: var(--transition-fast);
        cursor: pointer;
    }

    .confirm {
        grid-area: confirm;
    }

    .cancel {
        grid-area: cancel;
    }

    .confirm:hover,
    .confirm:focus,
    .confirm:focus-visible,
    .cancel:hover,
    .cancel:focus,
    .cancel:focus-visible {
        background-color: var(--color-font);
        color: black;
    }
}

.confirm-quit-box::backdrop {
    background-color: var(--color-black-dimmed-strong);
}

@media (max-width: 600px) {
    .confirm-quit-box {
        width: 90%;
    }
}

@media (max-width: 1300px) {
    .quit-game {
        bottom: var(--size-very-small);
        right: var(--size-very-small);
    }
}
