.music-player {
    border: 2px solid var(--color-font);
    padding: var(--size-small);
    width: fit-content;
    position: fixed;
    bottom: var(--size-small);
    left: var(--size-small);
    border-radius: var(--rounding-total);
    background-color: var(--color-black-dimmed-strong);
    display: grid;
    place-items: center;
    transition: var(--transition-fast);
    z-index: 999 !important;
    animation: appearMusicPlayer 1s ease-in-out forwards;

    * {
        cursor: pointer;
    }

    > *:not(.play-button) {
        opacity: 0;
        transition: var(--transition-fast);
        transform: translate(0, 0) scale(0);
        transform-origin: bottom left;
    }

    .change-songs-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        gap: var(--size-very-small);

        .previous-song,
        .next-song {
            padding: var(--size-very-small);
            display: grid;
            place-items: center;
            background-color: var(--color-black-dimmed-strong);
            border: 2px solid var(--color-font);
            border-radius: var(--rounding-total);
            transition: var(--transition-fast);

            span {
                color: var(--color-font);
            }
        }

        > *:hover {
            background-color: var(--color-font);

            span {
                color: black;
            }
        }
    }

    .toggle-play-state {
        padding: var(--size-very-small) calc(var(--size-very-small) * 2);
        background-color: var(--color-black-dimmed-strong);
        border: 2px solid var(--color-font);
        border-radius: var(--rounding-medium);
        position: absolute;
        font-weight: var(--font-thick);
        opacity: 0;
        transition: var(--transition-fast);
        z-index: 90;
    }

    .play-button {
        background-color: transparent;
        border: none;
        outline: none;
        transition: var(--transition-fast);
        z-index: 100;

        span {
            font-size: 2.5rem;
            color: var(--color-font);
        }
    }

    .volume-and-song {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--size-very-small);
        position: absolute;
        bottom: 0;
        left: 0;

        > * {
            width: fit-content;
        }

        .audio-controls {
            padding: var(--size-very-small) calc(var(--size-very-small) * 2);
            border: 2px solid var(--color-font);
            border-radius: var(--rounding-big);
            background-color: var(--color-black-dimmed-strong);
            display: flex;
            align-items: center;
            gap: var(--size-very-small);
            transition: var(--transition-fast);
            z-index: 90;

            .slider {
                -webkit-appearance: none;
                appearance: none;
                background-color: transparent;
            }

            .slider::-webkit-slider-runnable-track {
                height: 3px;
                border-radius: --var(--rounding-medium);
                background-color: white;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                background-color: white;
                height: 15px;
                width: 15px;
                border-radius: var(--rounding-total);
                margin-top: -6px;
            }
        }

        .current-song-title {
            white-space: nowrap;
            font-size: var(--font-size-small);
            background-color: var(--color-black-dimmed-strong);
            border: 2px solid var(--color-font);
            padding: var(--size-very-small) calc(var(--size-very-small) * 2);
            border-radius: var(--rounding-big);
            width: fit-content;
            text-decoration: none;
            color: var(--color-main);
            transition: var(--transition-fast);
        }

        .current-song-title:hover {
            background-color: var(--color-main);
            color: black;
        }
    }
}

.music-player:hover,
.music-player:focus,
.music-player:focus-visible {
    transform: scale(1.15);
    background-color: var(--color-font);

    span {
        color: black;
    }

    > *:not(.play-button) {
        opacity: 1;
    }

    .change-songs-buttons {
        opacity: 1;
        transform: translate(0, -175%) scale(1);
    }

    .volume-and-song {
        transform: translate(30%, 0);
    }
}

@media (max-width: 1300px) {
    .music-player {
        top: var(--size-very-small);
        left: var(--size-very-small);
        bottom: initial;
        transform: scale(0.75) !important;
    }

    .music-player:hover,
    .music-player:focus,
    .music-player:active,
    .music-player:focus-visible {
        .change-songs-buttons {
            opacity: 1;
            transform: translate(0, 175%) scale(1);
        }

        .volume-and-song {
            transform: translate(30%, 0);
        }
    }
}

@keyframes appearMusicPlayer {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    33% {
        transform: scale(1.2);
        opacity: 1;
    }

    66% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
