.leaderboard {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    flex: 1;
    border: 2px solid var(--color-font);
    animation: appear 750ms ease-in forwards;
    opacity: 0;

    .header {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        padding: var(--size-very-small);
        gap: var(--size-very-small);
        justify-content: center;
        text-align: center;

        .trophy-icon {
            font-size: 3rem;
        }

        .vertical-separator {
            height: 75%;
            width: 3px;
            background-color: var(--color-font);
            border-radius: var(--rounding-medium);
        }

        h2 {
            flex: 1;
            font-size: var(--font-size-big);
        }
    }

    .horizontal-separator {
        width: 100%;
        min-height: 3px;
        background-color: var(--color-font);
    }

    .empty-score {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--size-big);
        padding: var(--size-medium) var(--size-very-big);
        text-align: center;
        font-family: var(--font-secondary);
        height: 100%;
        width: 100%;
        flex: 1;

        h2 {
            font-weight: var(--font-normal-thickness);
        }

        .empty-icon {
            width: 300px;
        }
    }

    .score {
        display: grid;
        grid-template-areas:
            "ppf date time-title"
            "ppf username time"
        ;
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: max-content 2rem;
        align-items: center;
        border-bottom: 2px solid white;
        padding: var(--size-very-small);
        background-color: black;
        gap: var(--size-minimum) var(--size-very-small);
        position: relative;

        .icon {
            position: absolute;
            top: -24px;
            left: -24px;
        }

        .ppf {
            grid-area: ppf;
            font-size: 3rem;
            place-self: center;
        }

        .date {
            opacity: .5;
            grid-area: date;
            align-self: flex-end;
        }

        .username {
            grid-area: username;
        }

        .time-title {
            grid-area: time-title;
        }

        .time {
            grid-area: time;
            text-align: center;
        }
    }

    .score.first {
        background-color: var(--color-gold);
    }

    .score.second {
        background-color: var(--color-silver);
    }

    .score.third {
        background-color: var(--color-bronze);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
