.home {
    background-color: var(--color-black-dimmed-medium);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
    ;
    padding: var(--size-big);
    z-index: 10;
    font-family: var(--font-secondary);
    overflow-x: hidden;

    h1,
    h2,
    h3 {
        text-align: center;
        font-size: var(--font-size-very-big);
        font-weight: var(--font-thin);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--size-very-very-big);

        .horizontal-separator {
            height: 3px;
            border-radius: var(--rounding-medium);
            align-self: center;
            flex-grow: 0;
            width: 75%;
            background-color: var(--color-font);
        }

        .header,
        .tutorial,
        .go {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--size-medium);

            h2 {
                font-family: var(--font-secondary);
                font-weight: var(--font-thin);
                font-size: var(--font-size-big);
                font-style: italic;
            }
        }

        .header {
            animation: appearLeft 500ms ease-in forwards;
            opacity: 0;
            transform: translateX(-100%);
        }

        .tutorial {
            display: flex;
            flex-direction: column;
            opacity: 0;
            transform: translateX(100%);
            animation: appearRight 500ms ease-in 550ms forwards;

            .steps {
                flex: 1;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                padding: var(--size-medium);
                gap: 4rem;

                .step {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--size-small);
                    z-index: 10;

                    .step-n {
                        background-color: black;
                        font-size: calc(var(--font-size-very-big) * 1.5);
                        padding: var(--size-very-small);
                        border-radius: var(--rounding-total);
                        aspect-ratio: 1;
                        display: grid;
                        place-items: center;
                        border: 2px solid var(--color-font);
                        transform: scale(0);
                        animation: appearRule 500ms ease-in-out forwards;
                        animation-delay: 1100ms;
                        box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.5);
                    }

                    .horizontal-separator {
                        width: 100%;
                        height: 3px;
                        align-self: stretch;
                        background-color: var(--color-font);
                        border-radius: --var(--rounding-medium);
                    }

                    .description {
                        text-align: center;
                        width: 40%;
                    }
                }

                .step:nth-child(2) {
                    .step-n {
                        animation-delay: 1400ms;
                    }
                }

                .step:nth-child(3) {
                    .step-n {
                        animation-delay: 1700ms;
                    }
                }
            }
        }

        .go {
            transform: translateX(-100%);
            opacity: 0;
            animation: appearLeft 500ms ease-in-out 1050ms forwards;

            .button {
                padding: var(--size-small) calc(var(--size-small) * 3);
                text-decoration: none;
                color: var(--color-font);
                border: 2px solid var(--color-font);
                transition: var(--transition-fast);
                cursor: pointer;
            }

            .button:hover,
            .button:focus,
            .button:focus-visible {
                background-color: var(--color-font);
                color: black;
            }
        }
    }
}

@keyframes appearLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appearRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appearRule {
    0% {
        transform: scale(0);
    }

    33% {
        transform: scale(1.2);

    }

    66% {
        transform: scale(.9);

    }

    100% {
        transform: scale(1);
    }
}
