.win-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--size-medium);
    background-color: var(--color-black-dimmed-strong);
    font-family: var(--font-secondary);
    z-index: 100;

    .container {
        width: 70%;
        height: 95%;
        background-color: inherit;
        display: flex;
        flex-direction: column;
        border: 2px solid var(--color-font);
        padding: var(--size-medium);
        align-items: center;
        gap: var(--size-medium);
        position: relative;
        overflow-y: auto;

        .score-created {
            width: 100%;
            padding: var(--size-medium);
            background-color: var(--color-success-dimmed);
            display: grid;
            place-items: center;
            border: 2px solid var(--color-font);
            font-weight: var(--font-thick);
        }

        .header {
            display: flex;
            align-items: center;
            padding: var(--size-very-small);
            gap: var(--size-very-small);

            span {
                font-size: 3rem;
            }
        }

        .submit-score {
            width: 100%;
            display: grid;
            grid-template-areas:
                "label label"
                "input submitButton"
            ;
            grid-template-columns: 1fr max-content;
            grid-template-rows: 1fr max-content;
            gap: var(--size-very-small);

            .label {
                grid-area: label;
                font-weight: var(--font-normal-thickness);
                position: relative;
            }

            .label::after {
                content: "Required";
                position: absolute;
                right: 0;
                font-style: italic;
                font-size: .75rem;
                font-weight: 300;
                top: 50%;
                transform: translateY(-50%);
            }

            .input-wrapper {
                grid-area: input;
                display: flex;
                align-items: center;
                padding: var(--size-very-small);
                gap: var(--size-very-small);
                border: 2px solid var(--color-font);
                transition: var(--transition-fast);

                .vertical-separator {
                    align-self: stretch;
                    width: 2px;
                    background-color: var(--color-font);
                }

                .input {
                    flex: 1;
                    background-color: transparent;
                    padding: var(--size-minimum);
                    font-size: var(--font-size-normal);
                    border: none;
                    outline: none;
                    color: var(--color-font);
                }
            }

            .input-wrapper:hover,
            .input-wrapper:focus,
            .input-wrapper:focus-visible,
            .input-wrapper:has(input:focus) {
                background-color: var(--color-font);
                color: black;

                .vertical-separator {
                    background-color: black;
                }

                .input {
                    color: black;
                }
            }

            .submit-button {
                grid-area: submitButton;
                aspect-ratio: 1/1;
                padding: var(--size-minimum);
                background-color: var(--color-black-dimmed-strong);
                display: grid;
                place-items: center;
                border: 2px solid var(--color-font);
                transition: var(--transition-fast);
                cursor: pointer;

                span {
                    color: var(--color-font);
                }
            }

            .submit-button:hover,
            .submit-button:focus,
            .submit-button:focus-visible {
                background-color: var(--color-font);

                span {
                    color: black;
                }
            }
        }

        .close-win-screen {
            position: absolute;
            top: var(--size-small);
            right: var(--size-small);
            background-color: var(--color-black-dimmed-strong);
            border: 2px solid var(--color-font);
            color: var(--color-font);
            padding: var(--size-very-small);
            display: grid;
            place-items: center;
            border-radius: var(--rounding-total);
            transition: var(--transition-fast);
            cursor: pointer;
            text-decoration: none;
        }

        .close-win-screen:hover,
        .close-win-screen:focus,
        .close-win-screen:focus-visible {
            background-color: var(--color-font);
            color: black;
        }
    }
}
