.navbar {
    background-color: var(--color-black-dimmed-medium);
    padding: var(--size-very-small);
    display: flex;
    justify-content: space-between;
    z-index: 5;
    align-items: center;
    border-bottom: 1px solid var(--color-white-dimmed-2);
    grid-area: navbar;
    position: relative;

    .logo {
        display: flex;
        align-items: center;
        gap: var(--size-very-small);

        .vertical-separator {
            height: 1.5rem;
            background-color: var(--color-white-dimmed-2);
            width: 3px;
            border-radius: var(--rounding-medium);
        }

        .icon {
            width: 50px;
            height: auto;
        }
    }

    .links {
        display: flex;
        gap: var(--size-medium);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .link {
            padding: var(--size-very-small);
            display: grid;
            place-items: center;
            text-decoration: none;
            color: var(--color-font);
            gap: var(--size-very-small);
            font-weight: var(--font-thick);
            border-bottom: 2px solid transparent;
            transition: var(--transition-fast);
            position: relative;

            .icon {
                z-index: 10;
            }

            .loading {
                animation: rotate 750ms linear infinite;
            }

            .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: var(--size-minimum) calc(var(--size-minimum) * 2);
                border: 2px solid var(--color-font);
                background-color: black;
                transition: var(--transition-fast);
                opacity: 0;
            }
        }

        .link:hover,
        .link:focus,
        .link:focus-visible {
            border-bottom: 2px solid var(--color-white-dimmed-2);

            .text {
                transform: translate(-50%, 100%);
                opacity: 1;
            }
        }

        .link.active {
            border-bottom: 2px solid var(--color-font);
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
