.game-screen {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--size-medium);
    font-family: var(--font-secondary);
    font-weight: var(--font-normal-thickness);
    gap: var(--size-small);
    z-index: 100;

    .header {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        align-items: start;
        justify-items: center;
        gap: var(--size-small);
        padding: var(--size-small);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: var(--color-black-dimmed-strong);

        >*>h2 {
            font-family: var(--font-secondary);
            font-weight: var(--font-normal-thickness);
        }

        .timer {
            display: flex;
            flex-direction: column;
            gap: var(--size-minimum);
            align-items: center;

            .time {
                font-size: var(--font-size-very-big);
            }
        }

        .characters {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: var(--size-small);

            .container {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                gap: var(--size-small);
                transform-style: preserve-3d;
                perspective: 1000px;

                .character {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--size-small);
                    transition: var(--transition-normal);
                    position: relative;


                    .character-name {
                        font-size: var(--font-size-normal);
                        font-weight: var(--font-normal-thickness);
                    }

                    .image-wrapper {
                        position: relative;
                        width: fit-content;
                        height: fit-content;
                        border-radius: 50%;
                        border: 3px solid transparent;
                        transition: var(--transition-fast);
                        display: grid;
                        place-items: center;

                        .image {
                            width: 75px;
                            height: 75px;
                            object-fit: cover;
                            object-position: center;
                            border-radius: var(--rounding-total);
                            transition: var(--transition-normal);
                        }

                        span {
                            font-size: 1.5rem;
                            padding: 3px;
                            position: absolute;
                            bottom: -5%;
                            left: -5%;
                            color: var(--color-font);
                            background-color: var(--color-success) !important;
                            border-radius: 50%;
                        }
                    }

                    .image-wrapper:has(.image.found) {
                        border: 3px solid var(--color-success);
                        animation: pop 750ms ease-in-out;
                    }
                }
            }
        }

        .close-game {
            width: 50px;
            height: 50px;
            border-radius: var(--rounding-total);
            display: grid;
            place-items: center;
            background-color: var(--color-black-dimmed-strong);
            color: var(--color-font);
            border: 2px solid var(--color-font);
            transition: var(--transition-fast);
            cursor: pointer;
        }

        .close-game:hover,
        .close-game:focus,
        .close-game:focus-visible {
            background-color: var(--color-font);
            color: black;
            transform: scale(1.1);
        }
    }

    .main-game-image {
        position: relative;
        object-fit: cover;
        object-position: center;
    }
}

@keyframes pop {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}
