*,
*::before,
*::after {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-white);
  overflow: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  main {
    flex: 1;
  }
}

.material-symbols-sharp {
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' -25,
    'opsz' 24
}
