*,
*::before,
*::after {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-font);
}

html {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-white);
}

body {
  flex-grow: 1;
  display: grid;
  grid-template-areas:
    "navbar navbar navbar"
    "content content content"
    "footer footer footer"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  font-family: var(--font-main);
  flex-direction: column;
}

#root {
  display: contents;

  main {
    /* min-height: 100vh; */
    grid-area: content;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.material-symbols-sharp {
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' -25,
    'opsz' 24
}
