@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-background: #000000;
  --color-main: #3061e3;
  --color-main-dimmed: #3061e355;
  --color-accent: #da2528;
  --color-white: #ffffff;
  --color-white-dimmed: #ffffff66;
  --color-white-dimmed-2: #ffffff44;
  --color-font: #f8f9fa;
  --color-success: #4ecdc4;
  --color-success-dimmed: #4ecdc466;
  --color-error: #e52b50;
  --color-error-dimmed: #e52b5066;
  --color-black-dimmed-soft: #00000033;
  --color-black-dimmed-medium: #00000066;
  --color-black-dimmed-strong: #00000099;
  --color-black-dimmed-very-strong: #000000bb;
  --size-minimum: .25em;
  --size-very-small: .75em;
  --size-small: 1em;
  --size-medium: 1.5em;
  --size-big: 2em;
  --size-very-very-big: 3.5em;
  --font-thick: 900;
  --font-normal-thickness: 400;
  --font-thin: 200;
  --font-thinnest: 100;
  --rounding-small: .5em;
  --rounding-medium: 1.25em;
  --rounding-big: 1.75em;
  --rounding-total: 50%;
  --font-main: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-size-very-small: .5rem;
  --font-size-small: .75rem;
  --font-size-normal: 1rem;
  --font-size-big: 1.5rem;
  --font-size-very-big: 3rem;
  --transition-fast: all 225ms ease-in-out;
  --transition-normal: all 300ms ease;
  --transition-slow: all 500ms linear;
}
